@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-image: url("../img/background/registersrc.png");
}

body{
    font-family: 'Aclonica', sans-serif;
    overflow: hidden;
    /* height: 100%; */
}

input{
    display: block;
    align-items: center;
    margin: 15px;
    padding: 5px;
}

button{
    /* padding: 0; */
    border: none;
    background: none;
}

.centerDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none
}

.test{
    position: fixed;
}