@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(235, 174, 133);
    font-family: 'Aclonica', sans-serif;
}

body{
    overflow: hidden;
    /* height: 100%; */
}

h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    cursor: default;
}

h3{
    padding-top: 10px;
    font-size: 25px;
}

input{
    display: block;
    align-items: center;
    text-align: center;
    background-color: rgb(235, 174, 133);
    font-size: 20px;
    color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

.regsrc{
    background-image: url("../img/background/registersrc.png");
}

.indexsrc{
    background-image: url("../img/gifs/GODSPEED_by_Davonte_Jolly.gif");
    background-size: cover;
}

.centerDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}

.centered {
    display: grid;
    position: absolute;
    /* align-items: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid rgb(235, 174, 133);
    font-size: 20px;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.centerTextBox{
    display: grid; 
    justify-content: center;
}

.hidden {
    display: none
}

.bkgdcolor{
    background-color: rgba(235, 174, 133, 0.3);
}